@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(0deg, rgba(254, 205, 211, 0.08), rgba(254, 205, 211, 0.08)), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.protocol-table tr .logo {
  width: 35px;
  height: 35px;
  display: inline-block;
}

.protocol-table tr .name {
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
}

.protocol-table tbody tr:hover,
.protocol-table tbody tr:focus {
  @apply bg-stone-200;
}